.Square {
    position: relative;
    overflow: hidden;
}

.Square::before {
    content: '';
    position: absolute;
    inset: var(--size);
    border-radius: var(--size) var(--size) var(--size) var(--size);
    box-shadow: 
        calc(-1 * var(--size)) calc(-1 * var(--size)) 0 var(--size), 
        var(--size) calc(-1 * var(--size)) 0 var(--size), 
        var(--size) var(--size) 0 var(--size), 
        calc(-1 * var(--size)) var(--size) 0 var(--size);
}
